.toolpanel {
    width: 80px;
    flex-direction: column;
    .tool-item {
        cursor: pointer;
    }
    .selected-tool {
        background-color: #c9e0f7;
    }
    .top,.down {
        display: flex;
        justify-content: space-between;
        margin-bottom: 5px;
    }
    .title {
        text-align: center;
    }
}
